{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
	{% if user.logo is not null %}<img src="{{ asset( '/uploads/logo/'~user.logo.fileName) }}"/>{% endif %}
	<p>Nom d'utilisateur: {{ user.username }}</p>
	<p>Nom: {{ user.name }}</p>
	<p>Prenom: {{ user.lastName }}</p>
    <p>Pays: {{ user.country }}</p>
    <p>Ville: {{ user.city }}</p>
    <p>Biographie: {{ user.biography }}</p>
    <p>Age: {{ user.birthdayDate|date("d/m/Y") }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Artiste: {{ user.categories|join(', ') }}</p>

</div>

{% if is_granted('IS_AUTHENTICATED_FULLY') and user.id == app.user.id %}
{% endif %}